html{
    box-sizing: border-box;
}
body{
    padding: 20px;
    font-family: 'Karla', sans-serif;
}
h2,h4,p{
    margin: 0;
}
*,*:before,*:after{
    box-sizing: inherit;

}
#card{
    width: 600px;
    height: 400px;
    box-shadow: 0px 0px 4px black;
    border-radius: 8px;
    position: absolute;
    left: 30%;
    top: 10%;
    /* border: 3px solid red; */

}
#top-section{
    width: 100%;
    height: 45%;
    padding: 20px;
}

#bottom-section{
    width: 100%;
    height: 55%;
    border-radius: 8px;
    color: white;
    /* border: 2px solid blue; */
}

#bottom-left{
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(143, 143, 0); */
    display: inline-block;
    vertical-align: top;
    background-color: #2ab2af;
    border-bottom-left-radius: 8px;
    padding: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
#bottom-right{
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    display: inline-block;
    background-color: #2EBFBD;
    border-bottom-right-radius: 8px;
    padding: 20px;
    padding-top: 30px;
    padding-left: 30px;
}

#top-section h2{
    color: #2ab2af;
    margin-bottom: 15px;
}

#top-section h4{
    color: rgb(178, 239, 55);
    margin-bottom: 15px;
}

#top-section p{
    color: #939da6;
}
button{
    color: white;
    background-color: rgb(168, 237, 30);
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0px 0px 2px rgb(60, 60, 60);
}

button:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(165, 220, 56);
}

#bottom-right ul{
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

#price{
    font-weight: 700;
    font-size: 1.4rem;
}

#bottom-left h4{
    margin-bottom: 20px;
}

#per-month, #price{
    display: inline-block;
}

#per-month{
    position: relative;
    top: -2px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}
#price-container{
    margin-bottom: 10px;
}

#bottom-left p{
    font-size: 0.9rem;
    margin-bottom: 40px;
}